
h1
{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.InfoContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .InfoContainer div
    {
        margin-bottom: 20px;
    }
        .InfoContainer .info
        {
            color: ivory;
        }
            .InfoContainer a img 
            {
                max-width:100%;
            }

@media only screen and (max-width: 500px)
{
    .InfoContainer .info
    {
        font-size: small;
    }
    .InfoContainer a img 
    {
        width: 300px;
    }
}