.container
{
    background-color: #051230;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .headerName
    {
        transform-style: preserve-3d;
        animation: barrelRoll 20s linear infinite;
    }
    @keyframes barrelRoll
    {
        0%
        {
            transform: perspective(100px) rotateX(0deg) rotate(5deg);
            
        }
        
        100%
        {
         
            transform: perspective(100px) rotateX(360deg) rotate(5deg);
        }
    }
        .headerName span
        {
            text-shadow: 0.05em 0.05em rgb(90, 90, 90);
            transform-style: preserve-3d;
            white-space: nowrap;
            position: absolute;
            padding: 10px;
            font-weight: 800;
            font-size: 1em;
            transform: translate(-50%, -50%) rotateX(calc(var(--i) * 60deg)) translateZ(1em);
            animation: changeColor 10s linear infinite;
        }
        @keyframes changeColor
        {
            0%
            {
                color: ivory;
            }
            /* 50%
            {
                color: rgb(6, 2, 37);
            } */
            100%
            {
                color: rgb(6, 2, 37);
            }
        }
.transition
{
    transform: translateY(-10px);
    height: 100px;
    background-image: linear-gradient(#051230, transparent);
}
.menuButtons
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .menuButtons a:nth-child(2)
    {
        margin-top: 1.5em;
    }
        .menuButtons label
        {
            position: relative;
            transform: translate(0, -20px);
            font-size: 0.1px;
            color: rgb(6, 2, 37);
        }
            .menuButtons label input
            {
                appearance: none;
                -webkit-appearance: none;
                cursor: pointer;
            }
            .menuButtons label .fa
            {
                position: relative;
                width: 70px;
                height: 70px;
                background-color:   rgb(6, 2, 37);
                line-height: 70px;
                text-align: center;
                color: ivory;
                font-size: 36px;
                cursor: pointer;
                border-radius: 50%;
                box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.1),
                            3px 3px 7px rgba(0, 0, 0, 0.8);
            }
            .menuButtons label .fa:hover
            {
                box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.1),
                            3px 3px 7px rgba(0, 0, 0, 0.8),
                            inset -3px -3px 10px rgba(255, 255, 255, 0.1),
                            inset 3px 3px 10px rgba(0, 0, 0, 0.8);
            }


@media only screen and (min-width:312px) {
    .headerName span
    {
        font-size: 1.5em;
    }
    .menuButtons
    {
        flex-direction: row;
    }
        .menuButtons a:nth-child(2)
        {
            margin: 0 0 0 1.5em;
        }
            .menuButtons label .fa
            { 
                margin: 20px 0 0 0;
            }
}
@media only screen and (min-width:580px) {
    .headerName span
    {
        font-size: 2em;
    }
    .menuButtons a:nth-child(2)
    {
        margin: 0 0 0 5em;
    }
        .menuButtons label .fa
        {
            font-size: 3rem;
            width: 100px;
            height: 100px;
            line-height: 100px;
        }
}
@media only screen and (min-width:1400px) {
    .headerName span
    {
        font-size: 2.5em;
    }
    .menuButtons label .fa
    {
        font-size: 4rem;
        width: 120px;
        height: 120px;
        line-height: 120px;
    }
}
@media only screen and (min-width:3000px)
{
    .headerName span
    {
        font-size: 4em;
    }
    .menuButtons label .fa
    {
        font-size: 5rem;
        width: 150px;
        height: 150px;
        line-height: 150px;
    }
}